/* removes padding and margin for everything, adds border box to account for border spacing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* creates the header box for the page */
.topBox {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: .3vh solid black;
    z-index: 1;
}

/* adds left margin to the h1 'My First Blog' text */
.topBox h1 {
    margin-left: 20px;
    font-size: 40px;
}

/* changes h1 color to black, which might just be the default but I've been working on this for too long */
h1 {
    color: black;
}

/* put the text on the left side of the box */
.topBoxL {
    order: 1;
}

/* puts the buttons on the right side of the box */
.topBoxR {
    order: 2;
}

/* creates the dark/light button */
#button {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    width: 5vw;
    height: 5vh;
    background-color: orange;
}

/* creates the back button */
#button3 {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    width: 5vw;
    height: 5vh;
    background-color: orange;
}

/* changes cursor when hovering over dark/light button */
#button, #button3:hover {
    cursor: pointer;
}

/* creates the space between the header and the lower box */
.spaceBetween {
    position: fixed;
    top:10vh;
    width: 100vw;
    height: 1vh;
    border-bottom: .3vh solid black;
    z-index: 1;
    background-color: white;
}

/* creates lower box for blog posts */
.containerPage2 {
    position: relative;
    top: 11vh;
    width: 100vw;
    height: 83vh;
    background-color: rgb(237, 236, 236);
    overflow-y: auto;
}

/* formatting for the posts created in javascript */
.newPost {
    position: relative;
    width: 95%;
    height: 120px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 7px 30px 7px 30px;
    padding: 15px;
    background-color: white;
}

/* adds a line under the title for each post */
.newPostLine {
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* puts the user text at the bottom of each post */
.userText {
    position: absolute;
    bottom: 10px;
}

h4 {
    color: rgba(0, 0, 0, 0.34);
}

.spaceBetween2 {
    position: fixed;
    bottom: 5vh;
    width: 100vw;
    height: 1vh;
    border-top: .3vh solid black;
    z-index: 1;
    background-color: white;
}

/* creates a box at the bottom of the page */
.footerBox {
    position: fixed;
    bottom: 0;
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    width: 100vw;
    height: 5vh;
    border-top: .3vh solid black;
    z-index: 1;
    text-align: center;
    font-size: 25px;
}

/* Dark mode styling */
/* changes background color and all black lines and text to white */

.darkMode .containerPage2 {
    background-color: rgba(0, 0, 0, 0.831);
}

.darkMode .topBox {
    background-color: rgba(0, 0, 0, 0.831);
}

.darkMode .footerBox {
    background-color: rgba(0, 0, 0, 0.831);
}

.darkMode .leftBox {
    border-right: .3vw solid white;
}

.darkMode .rightBox {
    border-left: .3vw solid white;
}

.darkMode h1 {
    color: white;
}

.darkMode .footerBox {
    color: white;
}

.darkMode a {
    color: aqua;
}