/* removes padding and margin for everything, adds border box to account for border spacing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* creates a container for the page */
.containerPage {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(237, 236, 236);
}

/* creates the header box for the page */
.topBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: .3vh solid black;
}

/* adds left margin to the h1 'My First Blog' text */
.topBox h1 {
    margin-left: 20px;
}

.topBoxL {
    order: 1;
}

.topBoxR {
    order: 2;
}

/* creates the dark/light button */
#button {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    width: 5vw;
    height: 5vh;
    background-color: orange;
}

#button3 {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    width: 5vw;
    height: 5vh;
    background-color: orange;
}

/* changes cursor when hovering over dark/light button */
#button, #button3:hover {
    cursor: pointer;
}

/* creates the space between the header and the lower box */
.spaceBetween {
    width: 100vw;
    height: 1vh;
    border-bottom: .3vh solid black;
}

/* creates lower box for blog posts */
.containerPage2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 89vh;
}

.newPost {
    position: relative;
    width: 100%;
    height: 20%;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
}

.newPostLine {
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.userText {
    position: absolute;
    bottom: 10px;
}

h4 {
    color: rgba(0, 0, 0, 0.34);
}

/* Dark mode styling */
/* changes background color and all black lines and text to white */

.darkMode .containerPage {
    background-color: rgba(0, 0, 0, 0.831);
}

.darkMode .topBox {
    border-bottom: .3vh solid white;
}

.darkMode .spaceBetween {
    border-bottom: .3vh solid white;
}

.darkMode .leftBox {
    border-right: .3vw solid white;
}

.darkMode .rightBox {
    border-left: .3vw solid white;
}

.darkMode h1 {
    color: white;
}

.darkMode h3 {
    color: white;
}

.darkMode .newPost {
    border: 3px solid white;
}

.darkMode p {
    color: white;
}

.darkMode h4 {
    color: rgba(255, 255, 255, 0.409);
}

.darkMode .newPostLine {
    border: 1px solid white;
}