* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.containerPage {
    display: flex;
    flex-wrap: wrap;
}

.topBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 15vh;
    border-bottom: .3vh solid black;
}

#button {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 10vw;
    height: 10vh;
    background-color: aqua;
}

#button:hover {
    cursor: pointer;
}

.spaceBetween {
    width: 100vw;
    height: 1vh;
    border-bottom: .3vh solid black;
}

.leftBox {
    width: 49.75vw;
    height: 84vh;
    border-right: .3vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 35vw;
    height: 64vh;
    border: 2px solid black;
    border-radius: 50%;
}

.spaceBetween2 {
    width: .5vw;
    height: 84vh;
}
.rightBox {
    width: 49.75vw;
    height: 84vh;
    border-left: .3vw solid black;
}




.darkMode .containerPage {
    background-color: rgba(0, 0, 0, 0.831);
}

.darkMode .topBox {
    border-bottom: .3vh solid white;
}

.darkMode .spaceBetween {
    border-bottom: .3vh solid white;
}

.darkMode .leftBox {
    border-right: .3vw solid white;
}

.darkMode .rightBox {
    border-left: .3vw solid white;
}